.amount-input {
    width: 33%;
}

.amount-container {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    display: flex;
}

.name-container {
    margin-right: 20px;
}

.button-group {
    margin-left: 5px;
}
